* {
  box-sizing: border-box;
}
body {
  background: #f2f2f2;
}
.black-field {
  display: flex;
  background-color: #141b1c;
  margin: 40px;
}
.tables {
  background: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  width: 380px;
  height: 770px;
  margin: 115px 0 132px 0;
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
}
.main-title_block {
  margin: 33px 140px 33px 140px;
  text-align: center;
  width: 100px;
  height: 64px;
}
.main-title {
  font-size: 35px;
  line-height: 43px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 31px;
}
.main-title_add {
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 31px;
  font-size: 20px;
  line-height: 24px;
}
.price {
  background: #5bb189;
  width: 380px;
  height: 105px;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin: 40px 26px 40px 26px;
}
.group_9 {
  display: flex;
  width: 380px;
  height: 50px;
}
.grope_9-shape {
  margin: 18px 22px 19px 22px;
}
.grope_9-text {
  width: 163px;
  height: 18px;
  margin: 16px 158px 16px 0;
  line-height: 18px;
  padding: 0;
  font-weight: 300;
  font-size: 15px;
}
.order-button {
  width: 154px;
  height: 40px;
  background: #5bb189;
  border-radius: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 39px 113px 40px 112px;
}
.group_9:nth-child(odd) {
  background: #2a3438;
}
.table_1 {
  margin-right: 18px;
  margin-left: 132px;
}
.table_2 {
  margin-right: 18px;
}
.table_2 > .main-title_block {
  margin: 33px 108px 33px 108px;
  width: 164px;
  height: 64px;
}
.table_2 > .price {
  background: #3a6ba5;
}
.table_2 > .order-button {
  background: #3a6ba5;
}
.table_3 {
  margin-right: 132px;
}
.table_3 > .main-title_block {
  margin: 36px 102px 33px 102px;
  width: 176px;
  height: 64px;
}
.table_3 > .price {
  background: #ec632a;
}
.table_3 > .order-button {
  background: #ec632a;
}
